#tabla{
    text-align: center;
    top:100px;
    width:100%;
    position:absolute;
    align-items: center;
    
}
.check{
    height:15px;
    width:30px;
}
.botonLimpiar,.check,.status{
    margin-top: 25px;
    text-align:justify;
    max-width: 40%;
    display:inline-table;
    border-color: rgb(196, 196, 196);

}  
.botonLimpiar{
    margin-left:20px;
}
body{
    text-align: center;
    background-color: #212129;
}
.btn-icon {

  }
  
.btn-icon i {
    font-size: larger;
 }

#copy{
    color-scheme: dark;
    margin-left: 5px;
    border-color: gray;
    color:white;
    align-items: center;
    width:50px;
    max-width: 8%;
    position: relative;
    display:inline-block;
    height:100%;
    margin-right: 15px;
}
.nombres{
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    border-radius: 20%;
    background-color: black;
    color: aquamarine;
    position:relative;
    max-inline-size: 10%;
    max-width: 200%;
    width:60px;
    display:inline-block
}
#cajita{
    padding-right: 10%;
    overflow: hidden;
    padding-left:10%;
    max-width: 70%;
    height:100%;
    justify-content: left;
    position:relative;
    display: inline-flex;
}
#placa{
    color: white;
}
.inputs{
    color-scheme:dark;
    color: rgb(0, 0, 0);
    margin-top: 15px;
    margin-left: 15px;
    max-width: 40%;
    position:relative;
    text-align: left;
    width: 160px;
    display:inline-flex;
}
.inputs::placeholder{
    color:rgb(255, 255, 255);
}
.status{
    width:45px;
    text-align: center;
}
#cantidad{
    height: 76%;
    max-width: 40%;
    margin-top: 0.2%;
    width: 50px;
    display:inline-flex;
}
#cajaOC{
    background-color: rgba(0, 0, 0, 0.651);
    overflow-x:scroll;
    max-width: 40%;
    display:flex;
    justify-content: left;
    position: relative;
    width:60%;
    height:100%;
    box-sizing: border-box;
    color:rgba(255, 255, 255, 0.822);
    
};

#moccoicon{
    background-image: url(`/logo`);
}
#botonadd{
    height:100%;
    position:relative;
    max-width: 30%;
    width: 100%;
    display:inline-block;
}

button{
    
    overflow: hidden;
    color-scheme: dark;
    border-style:ridge;
}
#addgpu{
    margin-left: 0px;
    justify-content: right;
    position:relative;
    display:flex;
    width:180px;
    height:100%;
}
#reset{
    height:100%;
    width:45px;
    display: inline-block;
}
::placeholder{
    color:white;
}
#linea{
    padding-left: 0%;
    width: 100%;
    display:inline-flex;
    position: relative;
    height: 40px;
    -ms-flex-item-align: left;
    justify-content:center;
    align-items: center;
}
#navbar{
    z-index: 1;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.7);
    border-bottom-style:inset;
    border-bottom-color: gray;
    max-width: 100%;
    padding-top: 1%;
    left:0%;
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(51, 100, 100);
    z-index: 2;
    top:0px;
    width:100%;
    -ms-flex-item-align: center;
    position:fixed;
    display:flex;
    padding-bottom: 1%;
}
#gpu{
    z-index: 1;
    text-align: center;
    max-width: 80%;
    width: 1150px;
    display:inline-table;
    position:relative;

}
#addhiveos{
    display:flex;
}
#echotext{
    font-family: Arial, Helvetica, sans-serif;

    overflow-x:hide;
    text-align: right;
    overflow:visible;
    color:white;
    position:relative;
    height:100%;
    font-size: small;
    width: 20%;
    display: inline-block;

}
#echocheck{
    width: 15px;
    position: relative;
    display: inline-flex;

}
#echo{
    flex-direction:row-reverse;
    overflow:hidden;
    display: inline-flex;
    justify-content: left;
    flex-grow: 1;
    max-width: 5%;
    min-width: 3%;
    position:relative;
    text-align: left;
    width: 70px;
    border-width: 10%;
    color: aliceblue;
    height: 100%;
    background-color: #00000073;
    z-index: 1;
}
#tabla{
    position:relative;
}

