#tabla{
    text-align: center;
    top:100px;
    width:100%;
    position:absolute;
    align-items: center;
    
}
.botonLimpiar,.check,.status{
    margin-top: 10px;
    text-align:justify;
    max-width: 40%;
    display:inline-table;
}  
body{
    text-align: center;
    background-color: rgb(33, 33, 41);
}
#copy{
    min-width: 5%;
    width:7%;
    position: relative;
    display:inline-block;
    height:100%;
}
.nombres{
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    border-radius: 20%;
    background-color: black;
    color: aquamarine;
    position:relative;
    max-inline-size: 10%;
    max-width: 200%;
    width:60px;
    display:inline-block
}
#cajita{
    padding-right: 10%;
    overflow: hidden;
    margin-left: 1%;
    padding-left:10%;
    max-width: 70%;
    height:100%;
    justify-content: right;
    position:relative;
    display: -webkit-flex;
    margin-right: 1%;
}
.inputs{
    color-scheme:dark;
    color: rgb(255, 255, 255);
    margin-top: 15px;
    margin-right: 15px;
    max-width: 40%;
    position:relative;
    text-align: left;
    width: 160px;
    display:inline-flex;
}
.inputs::placeholder{
    color:rgb(255, 255, 255);
}
.status{
    color:white;
    width:45px;
    text-align: center;
}
#cantidad{
    height: 76%;
    max-width: 40%;
    margin-top: 0.2%;
    width: 40%;
    display:inline-flex;
}
#cajaOC{
    
    background-color: gray;
    overflow-x:scroll;
    max-width: 40%;
    display:flex;
    justify-content: left;
    position: relative;
    width:60%;
    height:100%;
    box-sizing: border-box;
    color:white;
    
}
#botonadd{
    height:100%;
    position:relative;
    max-width: 20%;
    width: 25%;
    display:inline-block;
}

button{
    overflow: hidden;
    color-scheme: dark;
    border-style:ridge;
}
#addgpu{
    justify-content: center;
    align-items: center;
    position:relative;
    display:flex;
    width:40%;
    height:100%
}
#reset{
    height:100%;
    width:20%;
    display: inline-block;
}
::placeholder{
    color:white;
}
#linea{
    width: 100%;
    display:inline-flex;
    position: relative;
    height: 40px;
    -ms-flex-item-align: left;
    justify-content:center;
    align-items: center;
}
#navbar{
    z-index: 1;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.7);
    border-bottom-style:inset;
    border-bottom-color: gray;
    max-width: 100%;
    padding-top: 1%;
    left:0%;
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(51, 100, 100);
    z-index: 2;
    top:0px;
    width:100%;
    -ms-flex-item-align: center;
    position:fixed;
    display:flex;
    padding-bottom: 1%;
}
#gpu{
    z-index: 1;
    text-align: center;
    max-width: 80%;
    width: 1150px;
    display:inline-table;
    position:relative;

}
#addhiveos{
    display:flex;
}
#echotext{
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 5%;
    overflow-x:hide;
    left: 50%;
    text-align: right;
    overflow:visible;
    color:white;
    position:relative;
    height:100%;
    font-size: small;
    width: 20%;
    display: inline-block;

}
#echocheck{

    width: 15px;
    position: relative;
    display: flex;

}
#echo{
    overflow:hidden;
    display: flex;
    justify-content: left;
    flex-grow: 1;
    min-width: 2%;
    max-width: 7%;
    position:relative;
    text-align: left-;
    width: 5%;
    color: aliceblue;
    height: 100%;
    background-color: #00000073;
    z-index: 1;
}
#tabla{
    position:relative;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
    /* Cambiar el display a block para que se muestre uno debajo del otro */
    .gpus{
      display: grid;
    }
    /* Agregar márgenes y bordes para separar cada elemento */
    td {
      margin: 0;
      border-bottom: 1px solid #eee;
    }
    /* Ocultar el encabezado de la tabla en dispositivos móviles */
    thead {
      display: none;
    }
    /* Agregar un estilo diferente para la primera columna (nombre de la GPU) */
    td:first-of-type {
      border-top: 1px solid #eee;
    }
  }
